@import "variables";

@import "../framework/vendors/bootstrap/scss/_bootstrap";
@import "../framework/vendors/font-awesome/scss/font-awesome";

@import "wordpress";
@import "mixins";
@import "typo";

html, .root {
  font-size: $font-size-base;
  line-height: $line-height-base;
}
body, .article {
  margin: auto;
}
body{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.container-fluid{
  max-width: $container-width;
}
img{
  max-width:100%;
  height:auto;
}
body.mce-content-body{
  padding: 15px !important;
}
#header{
  &.header-fixed{
    position:fixed;
    width:100%;
    top:0;
    z-index:9999;
  }
}
@include checkbox();
@include radio();
